@media (max-width: 800px){
    .AdminMenuNavigator{        
        width: 110px;
        margin: 0px 5px;
        padding: 10px 10px;
        text-align: center;
        border: 1px solid#c1e3c7;
    }
} 

@media (max-width: 620px){
    .AdminNavigator{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
    }

    .AdminMenuNavigator{
        display: flex;
        justify-content: center;
        align-items: center;        
        width: 95%;
        margin: 5px 0px;
        padding: 5px 5px;
        text-align: center;
        border: 1px solid#c1e3c7;
    }

    .AdminMenuName{
        padding-left: 10px;
    }
} 