@media(max-width:550px){
  .sidebarNameIcon{
    display: inline;
    
  }

  .sidebarName span{
    padding-left: 10px;
  }

  .sidebarName{
    text-align: center;
    cursor: pointer;
  }

  .sidebarCategories {
    height: 0px;
    overflow: hidden;
  }

  .appearCategories{
    height: auto;

  }
  
}